<!DOCTYPE html>
<html>
   <head>
      <title>上传到谷歌云</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-light_green.min.css" />
      <link rel="shortcut icon" href="/public/favicon.ico">
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
      <link rel="stylesheet" href="/public/style.css">
      <script type="text/javascript">
        var preLoaded = 0;
        var preTime = 0;

        function humanreadable(size){
                if (size > 1024 * 1024 * 1024){
                    ret = (Math.round(size * 100 / (1024 * 1024 * 1024)) / 100).toString() + 'GB';
                }else if (size > 1024 * 1024){
                   ret = (Math.round(size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                }else{
                   ret = (Math.round(size * 100 / 1024) / 100).toString() + 'KB';
                }

                return ret;
        }

         function fileSelected() {
               var file = document.getElementById('fileToUpload').files[0];
               if (file) {
                 var fileSize = humanreadable(file.size);
                 document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
                 document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
                 document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
               }
             }
         
           async function generateSignedURL() {
               var file = document.getElementById('fileToUpload').files[0];
               if (file){
                   fileName = file.name;
               }       
               else{
                   alert('No file selected!')
                   return;
               }
               action = "PUT";
               const response = await fetch('/getSignedURL?filename=' + fileName + "&action=" + action)
               if (!response.ok) {
                   throw new Error('Network response for fetch was not ok.');
               }
               signedURL = await response.text();
               signedURL = signedURL.replace(/\"/g, "")
               console.log("Got signedURL: " + signedURL)
               console.log("Trying to upload " + fileName)
               uploadFile(file, signedURL);
               console.log("Complete")
               return false;
           }
         
         
             function uploadFile(file, url) {
               var xhr = new XMLHttpRequest();
               xhr.upload.addEventListener("progress", uploadProgress, false);
               xhr.addEventListener("load", uploadComplete, false);
               xhr.addEventListener("error", uploadFailed, false);
               xhr.addEventListener("abort", uploadCanceled, false);
               xhr.open("PUT", url);
               xhr.send(file);
             }
         
             function uploadProgress(evt) {
                var curTime = (new Date()).valueOf();

               if (evt.lengthComputable) {
                 var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                 document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
         
                   var progressBar = document.getElementById("progressBar");
                   progressBar.max = evt.total;
                   progressBar.value = evt.loaded;


                    if(preLoaded && preTime){
                        var curLoaded = evt.loaded;
                        var deltaLoaded = curLoaded - preLoaded;
                        var deltaTime = (curTime - preTime)/1000;
                        var speed = deltaLoaded / deltaTime;
                        speed = humanreadable(speed);
                        console.log('deltaTime:' + deltaTime + ' Speed:' + speed);
                        $('#speedNumber').html(speed + '/s');

                    }


                    preLoaded = evt.loaded;
                    preTime = curTime;
                    





               }
               else {
                 document.getElementById('progressNumber').innerHTML = '无法计算';
               }
             }
         
             function uploadComplete(evt) {
               /* 当服务器响应后，这个事件就会被触发 */
               fileName = document.getElementById('fileToUpload').files[0].name;
               document.getElementById('progressNumber').innerHTML = 'Successfully Uploaded file: ' + fileName;
               $("#fileName").html('&nbsp;');
               $("#fileSize").html('&nbsp;');
               $("#fileType").html('&nbsp;');
               $("#fileToUpload").val('');
               
         
               alert("上传成功！");
             }
         
             function uploadFailed(evt) {
               alert("上传文件发生了错误尝试");
             }
         
             function uploadCanceled(evt) {
               alert("上传被用户取消或者浏览器断开连接");
             }
      </script>
   </head>
   <body>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
         <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();"/>
      </div>
      <input class="mdl-button mdl-button--raised mdl-button--colored" type="button" value="Upload"
         onclick="generateSignedURL()">
      <br />
      <div id="fileName">&nbsp;</div>
      <div id="fileSize">&nbsp;</div>
      <div id="fileType">&nbsp;</div>
      <br />
      <br />
      <div id="progressNumber"></div>
      <progress class="progressBar" id="progressBar" value="0" max="100"></progress>
      <div id="speedNumber"></div>
      
   </body>
</html>